<% layout("/layouts/boilerplate") %>





<div id="filters"  class="ps-5 pe-5">

  <!-- <div class="filter">
    <a href="/listings?category=Trending"
      ><i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </a>
  </div> -->
  <div class="filter">
    <a href="/listings?category=Rooms"
      ><i class="fa-solid fa-bed"></i>
      <p>Rooms</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listings?category=Mountains"
      ><i class="fa-solid fa-mountain-city"></i>
      <p>Moutains</p>
    </a>
  </div>

  <div class="filter">
    <a href="/listings?category=Iconic cities">
      <i class="fa-solid fa-mountain"></i>
      <p>Iconic cities</p>
    </a>
  </div>

  <div class="filter">
    <a href="/listings?category=Castles">
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Castles</p>
    </a>
  </div>

  <div class="filter">
    <a href="/listings?category=Amazing pools">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Amazing pools</p>
    </a>
  </div>

  <div class="filter">
    <a href="/listings?category=Camping">
      <i class="fa-solid fa-campground"></i>
      <p>Camping</p>
    </a>
  </div>

  <div class="filter">
    <a href="/listings?category=Farms">
      <i class="fa-solid fa-cow"></i>
      <p>Farms</p>
    </a>
  </div>

  <div class="filter">
    <a href="/listings?category=Arctic">
      <i class="fa-regular fa-snowflake"></i>
      <p>Arctic</p>
    </a>
  </div>

  <div class="filter">
    <a href="/listings?category=Domes">
      <i class="fa-solid fa-igloo"></i>
      <p>Domes</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listings?category=Boats">
      <i class="fa-solid fa-ship"></i>
      <p>Boats</p>
    </a>
  </div>

   <% if (currentPath !== "/login" && currentPath !== "/signup") { %>
      <div class="navbar-nav ms-auto search-container">
        <form class="d-flex" role="search" method="get">
          <% if(currentCategory){ %>
          <input type="hidden" name="category" value="<%= currentCategory %>" />
          <% } %>

          <input
            class="form-control me-2 search-inp"
            name="search"
            type="search"
            value="<%=searchText%>"
            placeholder="Search destinations"
          />
          <button class=" search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <% } %>




    <!-- <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div> -->
    
  </div>

  <% if(allListings.length === 0){ %>
    <div class="no-results">
      <img class="img" src="images/island.png" alt="" />
    <h3>No listings found</h3>
    <p>Try adjusting your search terms or selected category</p>
  </div>

  <% } else { %> 
  <div style="margin-bottom: 5rem; margin-top: 2.5rem !important;" class="listing-container row row-cols-lg-4 row-cols-md-4 rows-cols-sm-1 mt-3  ps-5 pe-5">
    <% for(let listing of allListings ) { %>
    <a href="/listings/<%= listing._id  %>" class="listing-link">
      <div class="index-card card">
        <img
          class="card-img-top"
          src="<%=listing.image.url %>"
          alt="Listing_image"
          style="height: 15rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%=listing.title %>, <%= listing.location  %> </b><br />
            <span>&#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") :
            "0" %>/ night</span>
            <i class="tax-info">
              &nbsp;&nbsp; <%= ((listing.price * 118) / 100 )%>/ night</i
            >
          </p>
        </div>
      </div>
      <% } %>
     <%  } %> 
    </a>
  </div>

  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tax-info");
      for (info of taxInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
      // console.log(s);
    });
  </script>
</div>
