<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/packageListing.css">


<section class="banner">
  <div class="heading">
    <h1>Travel Packages</h1>
    <h5>
      Discover curated travel experiences designed for every type of <br />
      adventurer
    </h5>
  </div>
</section>

<div id="filters" style="padding-left: 5rem; padding-right: 5rem;">

  <!-- <div class="filter">
    <a href="/packages?category=Trending"
      ><i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </a>
  </div> -->

  <div class="filter">
    <a href="/packages?category=Mountains"
      ><i class="fa-solid fa-mountain-city"></i>
      <p>Mountains</p>
    </a>
  </div>

  <div class="filter">
    <a href="/packages?category=Beach Escapes"
      ><i class="fa-solid fa-umbrella-beach"></i>
      <p>Beach Escapes</p>
    </a>
  </div>
  <div class="filter">
    <a href="/packages?category=Adventure"
      ><i class="fa-solid fa-binoculars"></i>
      <p>Adventure</p>
    </a>
  </div>

  <div class="filter">
    <a href="/packages?category=Wildlife-Safari"
      ><i class="fa-brands fa-safari"></i>
      <p>Wildlife-Safari</p>
    </a>
  </div>

  <div class="filter">
    <a href="/packages?category=Iconic cities">
      <i class="fa-solid fa-mountain"></i>
      <p>Iconic cities</p>
    </a>
  </div>

  <div class="filter">
    <a href="/packages?category=Honeymoon">
      <i class="fa-solid fa-heart"></i>
      <p>Honeymoon</p>
    </a>
  </div>

  <!-- <div class="filter">
    <a href="/packages?category=Castles">
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Castles</p>
    </a>
  </div> -->


  <div class="filter">
    <a href="/packages?category=Camping">
      <i class="fa-solid fa-campground"></i>
      <p>Camping</p>
    </a>
  </div>


 <div class="filter">
    <a href="/packages?category=Arctic">
      <i class="fa-regular fa-snowflake"></i>
      <p>Arctic</p>
    </a>
  </div> 


  <% if (currentPath !== "/login" && currentPath !== "/signup") { %>
     <div class="navbar-nav ms-auto search-container">
       <form class="d-flex" role="search" method="get">
         <% if(currentCategory){ %>
         <input type="hidden" name="category" value="<%= currentCategory %>" />
         <% } %>

         <input
           class="form-control me-2 search-inp"
           name="search"
           type="search"
           value="<%=searchText%>"
           placeholder="Search destinations"
         />
         <button class=" search-btn" type="submit">
           <i class="fa-solid fa-magnifying-glass"></i>Search
         </button>
       </form>
     </div>

     <% } %>
  </div>


<!-- Package Cards -->
<% if(allPackages.length === 0){ %>

    <div class="no-results">
      <img class="img" src="images/island.png" alt="" />
    <h3>No Package found</h3>
    <p>Try adjusting your search terms or selected category</p>
  </div>

  <% } else { %>

<section class=" travel-package">
  <% for(let package of allPackages) { %>
  <div class="cards">
    <div class="card package-card" style="width: 24rem">
      <div class="card-body">
   
        <div class="rating">
          <p class="best-seller category" ><%=package.categories%></p>

          <!-- <p class="star" >
            <i class="fa fa-star "></i><%= package.rating %>
          </p> -->
        </div>

        <!-- Package Title -->
        <h5 class="card-title pak-title"><%= package.title %></h5>

        <!-- Description -->
        <p class="card-text-d"><%= package.description %> </p>

        <!-- Days and People -->
        <ul class="days-people">
          <li><i class="fa-regular fa-calendar"></i> <%= package.duration %> </li>Days
          <li><i class="fa-solid fa-users"></i> <%=package.groupSize %> </li>
        </ul>

        <!-- Details / Highlights -->
        <div class="details">
            <ul>
                <% package.include.slice(0, 4).forEach(item => { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>

  
        <hr />

        <!-- Pricing Section -->
        <div class="bottom">
          <p class="price"> &#8377; <%= package.price ? package.price.toLocaleString("en-IN") :
            "0" %></p>

        </div>
        <div class="btn">
            <a href="/packages/<%= package._id %>" class=" btn-signup book">View details →</a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</section>
<% } %>


<div class="travel-agent">
  <h1>Can't find the perfect package?</h1>
  <p>
    Our travel experts can help you create a custom package tailored to your
    preferences and <br />budget.
  </p>
  <div class="btn">
    <a class="btn-signup" href="/contact">Contact Travel Expert &rarr;</a>
  </div>
</div>



<script>


  document.querySelectorAll(".category").forEach(element => {
    const text = element.innerHTML;
    if(text == "Mountains"){
      element.classList.add("category-mountains")
    }
    if(text == "Adventure"){
      element.classList.add("category-adventure");
    }    
  });





  
</script>