<% layout("layouts/boilerplate") %>
<link href="/css/showPage.css" rel="stylesheet" />

<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
</script>


<style>
  
</style>

<div class="">
  <section class="poster">
    <div
    class="head"
    style="background-image: url('<%= listing.image.url %>')"
  >
      
      <div class="back-btn btn" >
        <button class="button btn-signup" id="backBtn">Back</button>
      </div>
      <div class="content">
        <div class="rating">
          <p class="best-seller premium category"><%=listing.category %></p>
        </div>
        <h1><%=listing.title %></h1>
        <div class="mid">
          <p class="location">
            <i class="fas fa-map-marker-alt"></i> <%=listing.country %>
          </p>
        </div>

        <div class="bottom">
          <p class="discount-price">
            &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") :
            "0" %>
          </p>
        </div>
        <p class="person">per night</p>
      </div>

       
    </div>
  </section>
 

  <div class="main-content">
    <div class="left-side">
      <p>
        <h4 class="show-heading"> Stay in <%= `${listing.location + "," + listing.country}` %> </h4>

        <h5 class=" mb-4 info-text">
          Nested by: <%= listing.owner.username %>
        </h5>

        <hr>

        <h4 class="show-heading mt-4">About this stay</h4>
        <p class="info-text mt-3 stay"><%= listing.description %></p>
      </p>


    <!-- edit & delete INSIDE left-side -->
      <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="btns  mb-5 mt-4 ">
        <a
          href="/listings/<%= listing._id %>/edit"
          class="btn btn-login me-5 border"
        >
          Edit this listing
        </a>

        <form method="post" action="/listings/<%= listing.id %>?_method=DELETE">
          <button class="btn btn-login border">Delete this listing</button>
        </form>
    </div>
    <% } %>
  </div>


<!-- Right Sidebar -->
    <aside class="right-sidebar">
      <!-- Booking Card -->
      <div class="booking-card">
        <h3>Book Your Nest</h3>
        <div class="price-section">
          <div class="price-value">&#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") :
            "0" %>/ night</div>
        </div>
        <button  class="book-now-btn btn-signup mb-4" >
          <a style="text-decoration: none;  color: #fff;" href="/listings/<%= listing.id %>/booking-page" >Book Now</a>
       
        </button>
        <button
          class="wishlist-btn contact-expert-btn"
        >
          Add to Wishlist
        </button>
      </div>
    </aside>
  </div>
  </div>

  
  <!-- REVIEW SECTION  -->
<div class="review-content show-heading">
    <!-- <hr /> -->
    <% if (currUser && !listing.owner._id.equals(currUser._id)) { %>
      <hr>
      <h4 class="mb-4 mt-4">Leave a Reviews</h4>

  <form
    novalidate
    class="mb-5 needs-validation"
    action="/listings/<%= listing.id %>/reviews"
    method="POST"
  >
  
      <div class="mt-3">
        <label for="rating" class="form-label"> Rating</label>
        <fieldset class="starability-grow  ">
        <input type="radio" id="no-rate" class="input-no-rate " name="review[rating]"value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

    <div class="mb-3">
      <label for="comment" class="form-label"> Comments</label>
      <textarea
        name="review[comment]"
        id="comment"
        cols="30"
        rows="5"
        class="form-control"
        required
      ></textarea>

      <!-- //bootstrap classes for success failure text -->
      <div class="valid-feedback">Looks Good!</div>
      <div class="invalid-feedback">Please write the review!</div>
    </div>

    <button class="btn btn-login mt-3">Submit</button>
    <% } %>
  </form>
  

  <% if(listing.reviews.length > 0){ %>

    
<section class="top-destination">
  <div class="heading">
    <h1>What Guests Are Saying</h1>
    <h5>
      Real feedback from guests who stayed at this place<br />
      
    </h5>
  </div>



  
  <div class="testimonials-scroll-container">
  <% for (let reviews of listing.reviews) { %>

    
   
  <div class="testimonial-card review-card">
      <div class="quote">❝</div>
         <p class="starability-result staticCardStar five-stars" data-rating = <%=reviews.rating %>>
  </p> 
      <p class="customer-review">
       <%=reviews.comment  %>
      </p>
      <div class="test-details">
        <div class="user-avatar">
          <img src="/uploads/david.jpg" alt="Sarah Johnson" />
        </div>

        <div class="user-info">
          <span class="user-name"><%=reviews.author.username  %></span>
          <span class="from"><%=listing.country%></span>
          <span class="pack-name"><%=listing.title  %></span>
        </div>
      </div>
          <!-- Review Delete button  -->

    <form
      action="/listings/<%= listing._id %>/reviews/<%= reviews._id %>?_method=DELETE"
      method="POST"
      class="mb-1 mt-1"
    >

       <% if (currUser && listing.owner._id.toString() !== currUser._id.toString()) { %>
      <button class="btn btn-sm btn-login ">Delete</button>
        <% } %>
    </form>
    </div>
  


  <% } %>
 </div>
</div>
</div>
</section>

<% } %>




<!-- For Map  -->
<div class="mt-5 heading text-center">
  <h1>Where you’ll be</h1>

  <h5 class="mt-3 mb-4">
    <%= listing.location %>, <%= listing.country %>
  </h5>

  <div
    id="map"
    style="
      width: 75vw;
      height: 70vh;
      margin: 0 auto 5rem auto;
    ">
  </div>
</div>


<script> // 5. Back Button
document.getElementById("backBtn").addEventListener("click", function () {
  window.history.back();
});</script>


<!-- We will be using Map script file in last  -->
 <script src="/js/map.js"></script>







