<% layout("layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%= listing.title %></h3>
  </div>

  <div class="card col-6 offset-3 show-card">
    <img
      src="<%=listing.image  %>"
      class="card-img-top show-img"
      alt="listing-image"
    />
    <div class="card-body">
      <p class="card-text mt-3">
          <i><b>Owned by: </b> <%=listing.owner.username %></i>
        <p><%= listing.description %> </p>
        <p>&#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") :"0"
        %></p>
        <p><%=listing.location%> </p>
        <p><%=listing.country%></p>
      </p>
    </div>
  </div>
</div>
<!-- edit link  -->
<div class="btns mb-5">
  <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-1 offset-3"
    >edit</a
  >

  <!-- Delete button  -->

  <form method="post" action="/listings/<%=listing.id %>?_method=Delete">
    <button class="btn btn-dark offset-4">Delete</button>
  </form>
</div>

<!-- REVIEW SECTION  -->
<div class="col-8 offset-3">
  <hr />
  <h4 class="mb-4 mt-4">Leave a Reviews</h4>

  <form
    novalidate
    class="mb-5 needs-validation"
    action="/listings/<%= listing.id %>/reviews"
    method="POST"
  >
    <div class="mb-3">
      <label for="rating" class="form-label"> Rating</label>
      <input
        type="range"
        min="1"
        max="5"
        id="rating"
        name="review[rating]"
        class="form-range"
      />
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label"> Comments</label>
      <textarea
        name="review[comment]"
        id="comment"
        cols="30"
        rows="5"
        class="form-control"
        required
      ></textarea>

      <!-- //bootstrap classes for success failure text -->
      <div class="valid-feedback">Looks Good!</div>
      <div class="invalid-feedback">Please write the review!</div>
    </div>

    <button class="btn btn-outline-dark mt-3">Submit</button>
  </form>

  <hr />

  <h4>All Reviews</h4>
  <% for (let reviews of listing.reviews) { %>
  <div class="border p-2 mt-4 mb-4 rounded border-success">
    <p>
      <strong>Rating: </strong>
      <%=reviews.rating %>
      <span class="star fa fa-star"></span>
    </p>
    <p>
      <strong>comment: </strong>
      <%= reviews.comment %>
    </p>

    <!-- Review Delete button  -->
    <form
      action="/listings/<%= listing._id %>/reviews/<%= reviews._id %>?_method=DELETE"
      method="POST"
      class="mb-2"
    >
      <button class="btn btn-sm btn-dark">Delete</button>
    </form>
  </div>

  <% } %>
</div>
